<div class="form">
  <%= form_for(@program) do |f| %>
    <% if @program.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

        <ul>
        <% @program.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


<div class="">
  <hr>
  <h2>Just select the execises you want to add to your program!</h2>

</div>

<%= render 'exercise_form' %>

    <div class="btn">
      <%= f.submit  %>
    </div>
  <% end %>
</div>
