<div class="form">
  <%= form_for(:programs, :url => {:action => 'show'})  do |f| %>


    <%= @programs.inspect %>

	<div class="formbottom">
		<h2>Edit and personalise your program</h2>
		<p>Shuffle around your exercises until your happy with the order.</p>
		<p>You can chose what weight, how many sets and reps and change them later to match your progession</p>

		<% i = 1 %>
		<ul id="sortable">
			<% @programs.each do |program| %>
					<%= fields_for "prog#{program.id}" do |pr| %>

						<% if i == 1 %>
							<div>
							    <%= pr.label :name, "Name your program" %><br>
							    <%= pr.text_field :name, value: program.name, class: "textfield field" %><br>
							</div>
							<div>
							    <%= pr.label :description, "Describe your program" %><br>
							    <%= pr.text_area :description, value: program.description, class: "textarea" %>
							</div>
						<% end %>
					
						<li id="<%= i %>">
							<div class="exercisebox">
						      <div class="imagebox">
						      </div>
						        <div class="info red">
						          <h2><span class="numberspan"><%= i %></span>.<%= program.exercise.name %></h2>
						          	<div class="fieldsarrowscontainer">
							          <div class="fieldcontainer">
							          	<% if program.exercise.option_types == "DT" %>
							          		<%= pr.label :distance %>
							          		<%= pr.text_field :distance, value: program.distance, class: "fielddistance" %>
											<%= pr.select :distance_unit, options_for_select([['miles'], ['kilometres']], selected: program.distance_unit) %><br>
							          		<%= pr.text_field :hours, value: program.hours, class: "fieldstime" %>Hours<br>
							          		<%= pr.text_field :minutes, value: program.minutes, class: "fieldstime" %>Minutes
							          	<% elsif program.exercise.option_types == "SWIMDT"  %>
							          		<%= pr.label :distance %>
							          		<%= pr.text_field :distance, value: program.distance, class: "fielddistance" %>
											<%= pr.select :swim_distance_unit, options_for_select([['metres'], ['lengths']], selected: program.swim_distance_unit ) %><br>
							          		<%= pr.text_field :hours, value: program.hours, class: "fieldstime" %>Hours<br>
							          		<%= pr.text_field :minutes, value: program.minutes, class: "fieldstime" %>Minutes
							          	<% elsif program.exercise.option_types == "WRS"  %>
							          		<%= pr.label :weight %>
							          		<%= pr.text_field :weight, value: program.weight, class: "fieldweight" %>
											<%= pr.select :weight_unit, options_for_select([['KGs'], ['lbs']], selected: program.weight_unit) %>
							          		<%= pr.label :reps %>
							          		<%= pr.text_field :reps, value: program.reps, class: "fieldreps" %>
							          		<%= pr.label :sets %>
							          		<%= pr.text_field :sets, value: program.sets, class: "fieldsets" %>
							          	<% elsif program.exercise.option_types == "RS"  %>
							          		<%= pr.label :reps %>
							          		<%= pr.text_field :reps, value: program.reps, class: "fieldreps" %>
							          		<%= pr.label :sets %>
							          		<%= pr.text_field :sets, value: program.sets, class: "fieldsets" %>
							          	<% elsif program.exercise.option_types == "T"  %>
							          		<%= pr.text_field :hours, value: program.hours, class: "fieldstime" %>Hours<br>
							          		<%= pr.text_field :minutes, value: program.minutes, class: "fieldstime" %>Minutes
							          	<% end %>
							          	<%= pr.hidden_field :sequence, value: i, class: "seq" %>
							          </div>
							        </div>

						          <p class="checktext">Remove exercise<%= pr.check_box "program_id[#{program.id}]", {:class => "checkbox"}, true, false %></p>

						        </div>   
						    </div>
						</li>
					<% end %>
					<% i+=1 %>
			<% end %>
		</ul>

		<%= link_to 'Show', @program %> |
		<%= link_to 'Back', programs_path %>

		<p>If you would like a chance to make your program public make sure you have filled in a name for the program and a description and tick the box.</p>

		<%= render 'exercise_form' %>

		<div class="btn">
	      <%= f.submit  %>
	    </div>

		<% end %>
	</div>
</div>
