
<h1>Params</h1>
<%= @params.inspect %>
<%= @params.count %>


<h1>Params KEYS</h1>
<%= @param_keys.inspect %>

<hr>
<h1>IDS</h1>
<%= @ids.inspect %>

<hr>
<h1>Added programs</h1>
<%= @new_programs.inspect %>


