<div class="setprogspeech">
	<p> 
		"Here are a couple of workout routines to get you started. Sign up or Sign in if you already have an account and alter the programmes to suit you. There's a huge range of exercises to choose from and more being added every day!"
	</p>
</div>

<div class="setprog">
	<% shape_programmes.each do |program_set| %>

	<div class="setprogname">
		<h1><%= program_set.name %></h1>
	</div>
	<div class="setprogdesc">
		<p><%= program_set.description %></p>
	</div>

		<div class="progclonewrap">
			<div class="<%= blue_pink(program_set, 'setprogbox') %>">

				<% program_set.programs.each do |program| %>

					 
			            <div class="<%= blue_pink(program_set, 'setexercise') %>">

			                <div class="setinfo <%=  font_color(program.exercise) %>" >
			                  <h2><%= program.exercise.name %></h2>
			                  <div class="setdetailcnt">			                                      
			                    <% if program.reps %>
			                      <div class="setprogdetails">
			                        <h1>Reps</h1>
			                        <span><%= program.reps %></span>
			                      </div>
			                    <% end %>
			                    <% if program.sets %>
			                      <div class="setprogdetails">
			                        <h1>Sets</h1>
			                        <span><%= program.sets %></span>
			                      </div>
			                    <% end %>
			                    <% if program.weight %>
			                      <div class="setprogdetails">
			                        <h1>Weight</h1>
			                        <span><%= "#{program.weight} #{program.weight_unit}" %></span>
			                      </div>
			                    <% end %>		                    
			                    <% if program.distance_unit && program.distance %>
			                      <div class="setprogdetails">
			                        <h1>Distance</h1>
			                        <span><%= "#{program.distance} #{program.distance_unit}" %></span>
			                      </div>
			                    <% end %>
			                    <% if program.swim_distance_unit && program.distance  %>
			                      <div class="setprogdetails">
			                        <h1>Distance</h1>
			                        <span><%= "#{program.distance} #{program.swim_distance_unit}" %></span>
			                      </div>
			                    <% end %>
			                    <% if program.minutes %>
			                      <div class="setprogdetails">
			                        <h1>Minutes</h1>
			                        <span><%= program.minutes %></span>
			                      </div>
			                    <% end %>
			                    <% if program.hours %>
			                      <div class="setprogdetails">
			                        <h1>Hours</h1>
			                        <span><%= program.hours %></span>
			                      </div>
			                    <% end %>
			                  </div>
			                    

			                </div>   
			            </div>
					
				<% end %>
			</div>

			<div class="<%= blue_pink(program_set, 'clonebox') %>">
				<p>Click below to copy this programme. Personalise it to suit you and have a great workout!</p>
				<div class="clonebtncnt"><%= link_to "CLONE \nProgramme", clone_program_path(program_set), class: "clonebtn" %></div>
			</div>

		</div>
	<% end %>
</div>