<div class="iconoutercontainer">
    <div class="icons">
      <%= fields_for :add_exercise do |ae| %>
      <div class="listedexercises">
        <div class="pageheading">
          <h2>Add exercises</h2>
        </div>
        

              <div class="buttons">
                <div class="firstbtn" id="absbtn">
                  <%= image_tag "buttons/abs.psd", class: "btnpos" %>
                  <p id="absborder">Over 100 ABS exercises to chose from!!</p>
                </div>
                <div class="secondbtn" id="armsbtn">
                  <%= image_tag "buttons/arms.psd", class: "btnpos" %>
                  <p id="armsborder">Over 100 ARMS exercises to chose from!!</p>
                </div>

              </div>
              <div class="buttons">
                <div class="firstbtn" id="backbtn">
                  <%= image_tag "buttons/back.psd", class: "btnpos" %>
                  <p id="backborder">Over 100 BACK exercises to chose from!!</p>
                </div>
                <div class="secondbtn" id="cardiobtn">
                  <%= image_tag "buttons/cardio.psd", class: "btnpos" %>
                  <p id="cardioborder">Over 100 CARDIO exercises to chose from!!</p>
                </div>
              </div>

              <div class="buttons">
                <div class="firstbtn" id="chestbtn">
                  <%= image_tag "buttons/chest.psd", class: "btnpos" %>
                  <p id="chestborder">Over 100 CHEST exercises to chose from!!</p>
                </div>
                <div class="secondbtn" id="legsbtn">
                  <%= image_tag "buttons/legs.psd", class: "btnpos" %>
                  <p id="legsborder">Over 100 LEG exercises to chose from!!</p>
                </div>
              </div>

              <div class="buttons">
                <div class="firstbtn" id="shouldersbtn">
                  <%= image_tag "buttons/shoulders.psd", class: "btnpos" %>
                  <p id="shouldersborder">Over 100 SHOULDER exercises to chose from!!</p>
                </div>
              </div>
          

              <div class="abscol move" id="absmove" style="display: none;">
                <div class="titlebar">
                    <h2>Abs and Obliques</h2>
                    <button type="button" class="buttonexerciseshide" >Close</button>
                </div>
                    <% @abs.each do |exercise| %>
                
                        <%= render(partial: "exercise_iteration", locals: { exercise: exercise, ae: ae }) %>

                    <% end %>
                    <p class="emailexercise">If there is an exercise you would like added to the list please email us at <%= mail_to "spthomas145@gmail.com" %> and we will add it for you</p>
              </div>

              <div class="armscol move" id="armsmove" style="display: none;">
                <div class="titlebar">
                  <h2>Biceps and Triceps</h2>
                  <button type="button" class="buttonexerciseshide" >Close</button>
                </div>
                      <% @arms.each do |exercise| %>
                  
                          <%= render(partial: "exercise_iteration", locals: { exercise: exercise, ae: ae }) %>

                      <% end %>
                      <p class="emailexercise">If there is an exercise you would like added to the list please email us at <%= mail_to "spthomas145@gmail.com" %> and we will add it for you</p>
              </div>

              <div class="cardiocol move" id="cardiomove" style="display: none;">
                <div class="titlebar">
                  <h2>Cardio</h2>
                  <button type="button" class="buttonexerciseshide" >Close</button>
                </div>
                    <% @cardio.each do |exercise| %>
                
                       <%= render(partial: "exercise_iteration", locals: { exercise: exercise, ae: ae }) %>

                    <% end %>
                    <p class="emailexercise">If there is an exercise you would like added to the list please email us at <%= mail_to "spthomas145@gmail.com" %> and we will add it for you</p>
              </div>

              <div class="shoulderscol move" id="shouldersmove" style="display: none;">
                <div class="titlebar">
                  <h2>Shoulders</h2>
                  <button type="button" class="buttonexerciseshide" >Close</button>
                </div>
                    <% @shoulders.each do |exercise| %>
                
                       <%= render(partial: "exercise_iteration", locals: { exercise: exercise, ae: ae }) %>

                    <% end %>
                    <p class="emailexercise">If there is an exercise you would like added to the list please email us at <%= mail_to "spthomas145@gmail.com" %> and we will add it for you</p>
              </div>


              <div class="legscol move" id="legsmove" style="display: none;">
                <div class="titlebar">
                  <h2>Legs</h2>
                  <button type="button" class="buttonexerciseshide" >Close</button>
                </div>
                    <% @legs.each do |exercise| %>        

                       <%= render(partial: "exercise_iteration", locals: { exercise: exercise, ae: ae }) %>

                    <% end %>
                    <p class="emailexercise">If there is an exercise you would like added to the list please email us at <%= mail_to "spthomas145@gmail.com" %> and we will add it for you</p>
              </div>

              <div class="chestcol move" id="chestmove" style="display: none;">
                <div class="titlebar">
                  <h2>Chest</h2>
                  <button type="button" class="buttonexerciseshide" >Close</button>
                </div>
                    <% @chest.each do |exercise| %>

                        <%= render(partial: "exercise_iteration", locals: { exercise: exercise, ae: ae }) %>

                    <% end %>
                    <p class="emailexercise">If there is an exercise you would like added to the list please email us at <%= mail_to "spthomas145@gmail.com" %> and we will add it for you</p>
              </div>

              <div class="backcol move" id="backmove" style="display: none;">
                <div class="titlebar">
                  <h2>Back</h2>
                  <button type="button" class="buttonexerciseshide" >Close</button>
                </div>
                    <% @back.each do |exercise| %>
                
                        <%= render(partial: "exercise_iteration", locals: { exercise: exercise, ae: ae }) %>

                    <% end %>
                    <p class="emailexercise">If there is an exercise you would like added to the list please email us at <%= mail_to "spthomas145@gmail.com" %> and we will add it for you</p>
              </div>

        </div>
        
    <% end %>
    </div>
</div>