<div class="iconoutercontainer">
    <div class="icons">
      <%= fields_for :add_exercise do |ae| %>
      <div class="listedexercises">
        <div class="pageheading">
          <h2>Add exercises</h2>
        </div>
        
<!-- BUTTONS TO ADD EXERCISES -->

              <div class="buttons">
                <div class="firstbtn" id="absbtn">
                  <%= image_tag button_image("abs.png"), class: "btnpos" %>
                  <p id="absborder"><%= @abs.count %> AB exercises to choose from!!</p>
                </div>
                <div class="secondbtn" id="armsbtn">
                  <%= image_tag button_image("arms.png"), class: "btnpos" %>
                  <p id="armsborder"><%= @arms.count %> ARM exercises to choose from!!</p>
                </div>

              </div>
              <div class="buttons">
                <div class="firstbtn" id="backbtn">
                  <%= image_tag button_image("back.png"), class: "btnpos" %>
                  <p id="backborder"><%= @back.count %> BACK exercises to choose from!!</p>
                </div>
                <div class="secondbtn" id="cardiobtn">
                  <%= image_tag button_image("cardio.png"), class: "btnpos" %>
                  <p id="cardioborder"><%= @cardio.count %> CARDIO exercises <br/ >to choose from!!</p>
                </div>
              </div>

              <div class="buttons">
                <div class="firstbtn" id="chestbtn">
                  <%= image_tag button_image("chest.png"), class: "btnpos" %>
                  <p id="chestborder"><%= @chest.count %> CHEST exercises to choose from!!</p>
                </div>
                <div class="secondbtn" id="legsbtn">
                  <%= image_tag button_image("legs.png"), class: "btnpos" %>
                  <p id="legsborder"><%= @legs.count %> LEG exercises to choose from!!</p>
                </div>
              </div>

              <div class="buttons">
                <div class="firstbtn" id="shouldersbtn">
                  <%= image_tag button_image("shoulders.png"), class: "btnpos" %>
                  <p id="shouldersborder"><%= @shoulders.count %> SHOULDER exercises to choose from!!</p>
                </div>
              </div>
          


<!-- THESE ARE THE LISTS THAT OPEN WITH THE BUTTONS -->

              <div class="abscol move" id="absmove" style="display: none;">
                <div class="titlebar">
                    <h2>Abs and Obliques</h2>
                    <button type="button" class="buttonexerciseshide" >Add selected</button>
                    <button type="button" class="buttonexerciseshide2" >Cancel</button>
                </div>

                  <div class="exercisescrolling">
                    <% @abs.each do |exercise| %>               
                        <%= render(partial: "exercise_iteration", locals: { exercise: exercise, ae: ae }) %>
                    <% end %>
                  </div>

                    <p class="emailexercise">If there is an exercise you would like added to the list please email us at <%= mail_to "addexercise@gymsays.co.uk" %> and we will add it for you</p>
              </div>

              <div class="armscol move" id="armsmove" style="display: none;">
                <div class="titlebar">
                  <h2>Biceps and Triceps</h2>
                  <button type="button" class="buttonexerciseshide" >Add selected</button>
                  <button type="button" class="buttonexerciseshide2" >Cancel</button>
                </div>

                  <div class="exercisescrolling">
                      <% @arms.each do |exercise| %>                  
                          <%= render(partial: "exercise_iteration", locals: { exercise: exercise, ae: ae }) %>
                      <% end %>
                  </div>

                      <p class="emailexercise">If there is an exercise you would like added to the list please email us at <%= mail_to "addexercise@gymsays.co.uk" %> and we will add it for you</p>
              </div>

              <div class="cardiocol move" id="cardiomove" style="display: none;">
                <div class="titlebar">
                  <h2>Cardio</h2>
                  <button type="button" class="buttonexerciseshide" >Add selected</button>
                  <button type="button" class="buttonexerciseshide2" >Cancel</button>
                </div>

                  <div class="exercisescrolling">
                    <% @cardio.each do |exercise| %>
                       <%= render(partial: "exercise_iteration", locals: { exercise: exercise, ae: ae }) %>
                    <% end %>
                  </div>

                    <p class="emailexercise">If there is an exercise you would like added to the list please email us at <%= mail_to "addexercise@gymsays.co.uk" %> and we will add it for you</p>
              </div>

              <div class="shoulderscol move" id="shouldersmove" style="display: none;">
                <div class="titlebar">
                  <h2>Shoulders</h2>
                  <button type="button" class="buttonexerciseshide" >Add selected</button>
                  <button type="button" class="buttonexerciseshide2" >Cancel</button>
                </div>

                  <div class="exercisescrolling">
                    <% @shoulders.each do |exercise| %>
                       <%= render(partial: "exercise_iteration", locals: { exercise: exercise, ae: ae }) %>
                    <% end %>
                  </div>

                    <p class="emailexercise">If there is an exercise you would like added to the list please email us at <%= mail_to "addexercise@gymsays.co.uk" %> and we will add it for you</p>
              </div>


              <div class="legscol move" id="legsmove" style="display: none;">
                <div class="titlebar">
                  <h2>Legs</h2>
                  <button type="button" class="buttonexerciseshide" >Add selected</button>
                  <button type="button" class="buttonexerciseshide2" >Cancel</button>
                </div>

                  <div class="exercisescrolling">
                    <% @legs.each do |exercise| %>        
                       <%= render(partial: "exercise_iteration", locals: { exercise: exercise, ae: ae }) %>
                    <% end %>
                  </div>

                    <p class="emailexercise">If there is an exercise you would like added to the list please email us at <%= mail_to "addexercise@gymsays.co.uk" %> and we will add it for you</p>
              </div>

              <div class="chestcol move" id="chestmove" style="display: none;">
                <div class="titlebar">
                  <h2>Chest</h2>
                  <button type="button" class="buttonexerciseshide" >Add selected</button>
                  <button type="button" class="buttonexerciseshide2" >Cancel</button>
                </div>

                  <div class="exercisescrolling">
                    <% @chest.each do |exercise| %>
                        <%= render(partial: "exercise_iteration", locals: { exercise: exercise, ae: ae }) %>
                    <% end %>
                  </div>

                    <p class="emailexercise">If there is an exercise you would like added to the list please email us at <%= mail_to "addexercise@gymsays.co.uk" %> and we will add it for you</p>
              </div>

              <div class="backcol move" id="backmove" style="display: none;">
                <div class="titlebar">
                  <h2>Back</h2>
                  <button type="button" class="buttonexerciseshide" >Add selected</button>
                  <button type="button" class="buttonexerciseshide2" >Cancel</button>
                </div>

                  <div class="exercisescrolling">
                    <% @back.each do |exercise| %>
                        <%= render(partial: "exercise_iteration", locals: { exercise: exercise, ae: ae }) %>
                    <% end %>
                  </div>

                    <p class="emailexercise">If there is an exercise you would like added to the list please email us at <%= mail_to "addexercise@gymsays.co.uk" %> and we will add it for you</p>
              </div>

        </div>
        
    <% end %>
    </div>
</div>