<div class="editExercisebox moreless">
  <div class="imagespace">
    <div class="showimagebox">
      <% if exercise.assets.size >= 1 %>
        <% exercise.assets.each do |asset| %>
          <%= image_tag(asset.image.url(:thumb)) %>
        <% end %>
      <% else %>
        <div class="missingimage">
          <span>Image To<br /> Come</span>
        </div>
      <% end %>
    </div>
  </div>
      <div class="showinfo  <%=  case exercise.muscle_group
                      when 'Cardio' then "red"
                      when 'Abs and Obliques' then "brown"
                      when 'Biceps and Triceps' then "blue"
                      when 'Shoulders' then "green" 
                      when 'Legs' then "purple"
                      when 'Chest' then "yellow"
                      when 'Back' then "orange"
                      end
                  %>">
        <h2><%= exercise.name %></h2>
        
            <div class="addDescriptionContainer">
              <p class="addDescriptionContent"><%= exercise.description %>
              <br/ ><span class='less'>less</span></p>
            </div>

        <div class=""> 
          <p class="checktext">Add exercise<%= ae.check_box "exercise_id[#{exercise.id}]", {:class => "checkbox"}, true, false %><span class="addMore">more</span></p>  
        </div>              
      </div>   
</div>