<div class="<%= male_female('editExercisebox') %> moreless <%=  case exercise.muscle_group
                      when 'Cardio' then "redbackground"
                      when 'Abs and Obliques' then "brownbackground"
                      when 'Biceps and Triceps' then "bluebackground"
                      when 'Shoulders' then "greenbackground" 
                      when 'Legs' then "purplebackground"
                      when 'Chest' then "yellowbackground"
                      when 'Back' then "orangebackground"
                      end
                  %>">
  <div class="imagespace", id="#imageSpace">
    <div class="showimagebox">
      <% if exercise.assets.size >= 1 %>
        <% exercise.assets.each do |asset| %>
          <%= image_tag(asset.image.url(:thumb)) %>
        <% end %>
      <% else %>
        <div class="missingimage">
          <span>Image To<br /> Come</span>
        </div>
      <% end %>
    </div>
  </div>
      <div class="showinfo  <%= font_color(exercise) %>">
        <h2><%= exercise.name %></h2>
        
            <div class="addDescriptionContainer">
              <p class="addDescriptionContent", id="descriptionContent"><%=raw (exercise.description).gsub!(/\n/, '<br />') %>
              <br/ ><span class='less'>less</span></p>
            </div>

        <div class=""> 
          <p class="checktext">Add exercise<%= ae.check_box "exercise_id[#{exercise.id}]", {:class => "checkbox"}, true, false %><span class="addMore more">more</span></p>  
        </div>              
      </div>   
</div>