<%= form_for(@program_set) do |f| %>
  <% if @program_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program_set.errors.count, "error") %> prohibited this program_set from being saved:</h2>

      <ul>
      <% @program_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="<%= male_female('programmeinformation') %> name">
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
  </div>

      <%= render "add_exercise_list" %>

  <div class="<%= male_female('programmeinformation') %> desc">
    <p>
      <%= f.label :description %><br/ >
      If you want to describe your programme then<br/ >
      <%= f.text_area :description, cols: "50", rows: "3" %>
    </p>
    <input type="checkbox" >I would like a chance to make my programme public

  <div class="">
    <%= f.submit %>
  </div>
  
  </div>

<% end %>
