<h1>Your programmes</h1>
<span class="createlink"><%= link_to 'Create a new program', new_program_set_path %></span>

<div class="thumbnailcontainer">
    <ul>
      <% @program_sets.each do |program_set| %>

        <%= link_to(program_set) do %>
          <div class="fakediv">
            <div class="thumbposition">  
              <li>
                <div class="setthumbnail">
                  <h1><%= program_set.name %></h1>
                  <ol>
                    <% program_set.programs.each do |program| %>
                      <li><%= program.exercise.name %>
                    <% end %>
                  </ol>

                  <div class="bhhh">
                    <ul class="thumbactionsul">
                      <li><%= link_to 'Edit', edit_program_set_path(program_set) %></li>
                      <li><%= link_to 'Delete', program_set, method: :delete, data: { confirm: 'Are you sure?' }%></li>
                    </ul>
                  </div>

                </div>
              </li>
            </div>
          </div>
        <% end %>
      <% end %>
    </ul>
</div>


<br />


