<div class="pageheading">
  <h2>Your programmes</h2>
</div>
<span class="createlink"><%= link_to 'Create new program', new_program_set_path %></span>

<div class="thumbnailcontainer">
    <ul>
      <% @program_sets.each do |program_set| %>

        <%= link_to program_set, class: "divlink" do %>
            <div class="thumbposition">  
              <li>
                <div class="setthumbnail">
                  <h1><%= program_set.name %></h1>
                  <ol>
                    <% program_set.programs.each do |program| %>
                      <li><%= program.exercise.name %></li>
                    <% end %>
                  </ol>

                  <div class="<%= male_female('thumbnaaillinks') %>">
                    <ul class="thumbactionsul">
                      <li><%= link_to 'Edit', edit_program_set_path(program_set) %></li>
                      <li><%= link_to 'Delete', program_set, method: :delete, data: { confirm: 'Are you sure?' }%></li>
                    </ul>
                  </div>

                </div>
              </li>
            </div>
        <% end %>
      <% end %>
    </ul>
</div>


<br />


