<p id="notice"><%= notice %></p>

<div class="pageheading">
  <h1><%= !@program_set.name.blank? ? @program_set.name : "Your programme" %></h1>
</div>

<div class="buttoncontainer">
  <div class="btnlink"><%= link_to 'Edit programme', edit_program_set_path(@program_set), method: :get %></div>
  <div class="btnlink"><%= link_to 'Your programme list', program_sets_path, method: :get %></div>
  <div class="btnlink"><%= link_to_function("Print this Page", "javascript:print()") %></div>
</div>

<hr>

<div class="showprogram">

	<% @program_set.programs.each do |program| %>

		 
            <div class="<%= male_female('showexercise') %>">
              <div class="imagespace"  id="imageSpace">
                <div class="showimagebox">
                  <% if program.exercise.assets.size >= 1 %>
                    <% program.exercise.assets.each do |asset| %>
                      <%= image_tag(asset.image.url(:thumb)) %>
                    <% end %>
                  <% else %>
                    <div class="missingimage">
                      <span>Image To<br /> Come</span>
                    </div>
                  <% end %>
                </div>
              </div>
                <div class="showinfo <%=  font_color(program.exercise) %>" >
                  <h2><%= program.exercise.name %></h2>
                  <div class="containsdetails">
                    <% if program.weight %>
                      <div class="details">
                        <h1>Weight</h1>
                        <span><%= "#{program.weight} #{program.weight_unit}" %></span>
                      </div>
                    <% end %>
                    <% if program.sets %>
                      <div class="details">
                        <h1>Sets</h1>
                        <span><%= program.sets %></span>
                      </div>
                    <% end %>
                    <% if program.reps %>
                      <div class="details">
                        <h1>Reps</h1>
                        <span><%= program.reps %></span>
                      </div>
                    <% end %>                    
                    <% if program.distance_unit && program.distance %>
                      <div class="details">
                        <h1>Distance</h1>
                        <span><%= "#{program.distance} #{program.distance_unit}" %></span>
                      </div>
                    <% end %>
                    <% if program.swim_distance_unit && program.distance  %>
                      <div class="details">
                        <h1>Distance</h1>
                        <span><%= "#{program.distance} #{program.swim_distance_unit}" %></span>
                      </div>
                    <% end %>
                    <% if program.minutes %>
                      <div class="details">
                        <h1>Minutes</h1>
                        <span><%= program.minutes %></span>
                      </div>
                    <% end %>
                    <% if program.hours %>
                      <div class="details">
                        <h1>Hours</h1>
                        <span><%= program.hours %></span>
                      </div>
                    <% end %>
                  </div>
                    
                    <div class="descriptionContainer">
                      <p class="descriptionContent"  id="descriptionContent"><%=raw (program.exercise.description).gsub!(/\n/, '<br />') %>
                      <br/ ><span class='less'>less</span></p>
                    </div>
                  <div class="moredelete">
                    <span class="more" id="more">more</span>
                  </div>
                </div>   
            </div>
		
	<% end %>
</div>

<hr>
