<p id="notice"><%= notice %></p>

<h1>Your Programme</h1>

<div class="showprogram">

	<% @program_set.programs.each do |program| %>

		 
            <div class="showexercise">
              <div class="imagespace">
                <div class="showimagebox">
                  <% if program.exercise.assets.size >= 1 %>
                    <% program.exercise.assets.each do |asset| %>
                      <%= image_tag(asset.image.url(:thumb)) %>
                    <% end %>
                  <% else %>
                    <div class="missingimage">
                      <span>Image To<br /> Come</span>
                    </div>
                  <% end %>
                </div>
              </div>
                <div class="showinfo <%=  case program.exercise.muscle_group
                                          when 'Cardio' then "red"
                                          when 'Abs and Obliques' then "brown"
                                          when 'Biceps and Triceps' then "blue"
                                          when 'Shoulders' then "green" 
                                          when 'Legs' then "purple"
                                          when 'Chest' then "yellow"
                                          when 'Back' then "orange"
                                          end
                                      %>" >

                  <h2><%= program.exercise.name %></h2>
                  <div class="containsdetails">
                    <% if program.sets %>
                      <div class="details">
                        <h1>Sets</h1>
                        <span><%= program.sets %></span>
                      </div>
                    <% end %>
                    <% if program.reps %>
                      <div class="details">
                        <h1>Reps</h1>
                        <span><%= program.reps %></span>
                      </div>
                    <% end %>
                    <% if program.weight %>
                      <div class="details">
                        <h1>Weight</h1>
                        <span><%= "#{program.weight} #{program.weight_unit}" %></span>
                      </div>
                    <% end %>
                    <% if program.distance_unit %>
                      <div class="details">
                        <h1>Distance</h1>
                        <span><%= "#{program.distance} #{program.distance_unit}" %></span>
                      </div>
                    <% end %>
                    <% if program.swim_distance_unit %>
                      <div class="details">
                        <h1>Distance</h1>
                        <span><%= "#{program.distance} #{program.swim_distance_unit}" %></span>
                      </div>
                    <% end %>
                    <% if program.minutes %>
                      <div class="details">
                        <h1>Minutes</h1>
                        <span><%= program.minutes %></span>
                      </div>
                    <% end %>
                    <% if program.hours %>
                      <div class="details">
                        <h1>Hours</h1>
                        <span><%= program.hours %></span>
                      </div>
                    <% end %>
                  </div>
                    
                    <div class="descriptionContainer">
                      <p class="descriptionContent"><%= program.exercise.description %>
                      <br/ ><span class='less'>less</span></p>
                    </div>
                  <span class="more">more</span>
                </div>   
            </div>
		
	<% end %>
</div>

<hr>

<%= link_to 'Edit', edit_program_set_path(@program_set) %> |
<%= link_to 'Back', program_sets_path %>
