<% if @exercise.errors.any? %>
	<ul>
		<% @exercise.errors.full_messages.each do |msg| %>
		 <li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<table>
	<tr>
		<td><%= f.label :name %>
		<td><%= f.text_field :name %>
	</tr>
	<tr>
		<td><%= f.label :muscle_group %>
		<td><%= f.select :muscle_group, options_for_select([['Cardio'], ['Abs and Obliques'], ['Biceps and Triceps'], ['Shoulders'],['Legs'], ['Chest'], ['Back']]) %>
	</tr>

	<tr>
		<td><%= f.label :description %>
		<td><%= f.text_area :description %>
	</tr>
	<tr>
		<!-- RS = REPS/SETS, WRS = WEIGHTS/REPS/SETS, DT = DISTANCE/TIME, 
		SWIMDT = SWIM/DISTANCE/TIME, T = TIME -->
		<td><%= f.label :option_types %>
		<td><%= f.select :option_types, options_for_select([['RS'], ['WRS'], ['DT'], ['SWIMDT'], ['T']]) %>
	</tr>
</table>

	<div class="choosefile">
		<%= f.fields_for :assets do |asset| %>
		<ul>
			<% if asset.object.new_record? %>
				<li><%= asset.file_field :image %></li>
			<% end %>
		</ul>
		<% end %>
	</div>

	<div class="imagesrow">		
		<%= f.fields_for :assets do |asset| %>
				<% unless asset.object.new_record? %>
					<div class="mediumimage">
						<%= link_to(image_tag(asset.object.image(:medium)), (asset.object.image(:large))) %>
					</div>
					<%= asset.check_box :_destroy %>
				<% end %>
		<% end %>
	</div>






