<!DOCTYPE html>
<html>
<head>
  <title>Gymsavvy</title>
  <%= stylesheet_link_tag    'custom', 'exercises', 'program_sets', 'users', 'scaffolds', 'admin_programs', :media => :screen %>
  <%= stylesheet_link_tag('print', :media => :print) %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">

	<div class="maintopbar">
		<div class="maintitlebar"><%= image_tag "title/maintitle.png" %></div>
		<div class="mainnavbar">
			<ul>
				<li class="navlink"><%= link_to "Home", root_path %></li>
				<% if current_user %>
					<% if current_user.admin? %>
						<li class="navlink"><%= link_to "Exercises", exercises_path %></li>
					<% end %>
					<li class="navlink"><%= link_to "My programmes", program_sets_path %></li>
					<li class="navlink"><%= link_to "Log out", log_out_path %></li>
				<% else %>
						<li class="navlink" id="signup"><%= link_to "Sign up", "#" %></li>
						<li class="navlink"  id="login"><%= link_to "log in", "#" %></li>			
				<% end %>
			</ul>
		</div>
	</div>

	<div id="maincontainer">
		<div class="leftside">
			<div class="links">
				<h2>Men's Programmes</h2>
				<ul>
					<li><%= link_to "Bulking up", bulking_path, class: "sidelinks" %></li>
					<li><%= link_to "Lean machine", lean_path, class: "sidelinks" %></li>
					<li><%= link_to "Lose a few", lose_path, class: "sidelinks" %></li>
				</ul>
			</div>
			<div class="links">
				<h2>Women's Programmes</h2>
				<ul>
					<li><%= link_to "Pear Shape", pear_path, class: "sidelinks" %></li>
					<li><%= link_to "Apple Shape", apple_path, class: "sidelinks" %></li>
					<li><%= link_to "Hour Glass Shape", hour_path, class: "sidelinks" %></li>
					<li><%= link_to "Tube Shape", tube_path, class: "sidelinks" %></li>
				</ul>
			</div>
			<div class="links">
				<h2>Injured?</h2>
				<ul>
					<li><%= link_to "Common injuries", injuries_path, class: "sidelinks" %></li>
					<li><%= link_to "How to avoid injury", avoid_path, class: "sidelinks" %></li>
				</ul>
			</div>
		</div>

		<div id="container">

			<% flash.each do |name, msg| %>
			  <%= content_tag :div, msg, :class => male_female('flash') %>
			<% end %>

			<%= yield %>
		</div>

		<div class="rightside">
			<div class="advertising">
				<h1>Adverts</h1>
				<div class="image">
					<%= image_tag "protein_shake.gif", :alt => "protein shake" %>
				</div>
				<div class="image">
					<%= image_tag "sand_bell.gif", :alt => "sand bell" %>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="clearfooter"></div>
	<div class="foot">
		<div class="personalinfo">
			<p>support@gymsays.co.uk<br /><br />
				Created by Sam Thomas<br />
				www.samthomas-dev.co.uk<br />
				
			</p>
		</div>
	</div>

</body>
</html>
